/* CoachTeamDetails.css */

.coach-team-details-container {
  text-align: center;
  padding: 20px;
}

.section {
  background-color: #f4f4f4;
  margin: 20px auto;
  padding: 15px;
  border-radius: 8px;
  max-width: 600px; /* Adjust based on your layout preference */
}

.section h2 {
  margin-bottom: 15px;
}

.section-btn {
  background-color: #5e548e; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block; 
  margin: 10px auto; 
  transition: background-color 0.3s;
}

.section-btn:hover {
  background-color: #5e548e;
}
