.coach-team-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.team-title {
  color: #5e548e; 
}


.details-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #5e548e;
  padding: 10px 0;
  width: 100%;
}

.details-nav button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 5px 10px;
}

.details-nav button.active {
  color: #f8f8f8;
  border-bottom: 2px solid #f8f8f8;
}

.section-content {
  width: 80%;
  max-width: 900px;
  padding: 20px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
