.coach-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.dashboard-nav {
  display: flex;
  justify-content: center; 
  width: 100%;
  background-color: #5e548e;
  padding: 10px 0;
  margin-bottom: 20px; 
}

.dashboard-nav button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px; 
}

.dashboard-nav button.active, .dashboard-nav button:hover {
  color: #f8f8f8;
  border-bottom: 2px solid #f8f8f8;
}

.teams-content {
  width: 80%; 
  max-width: 600px; 
}

.section-title {
  color: #5e548e;
  margin-bottom: 15px;
}

.teams-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.teams-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.teams-list li:last-child {
  border-bottom: none;
}

.teams-list li:hover {
  background-color: #eaeaea;
}

.create-team-btn {
  background-color: #5e548e; 
  color: white;
  padding: 10px 20px;
  margin: 20px 0; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center; 
  width: auto; 
}

.create-team-btn:hover {
  background-color: #514C7F; 
}
