.player-dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .dashboard-nav {
    display: flex;
    justify-content: space-around;
    background-color: #5e548e;
    padding: 10px 0;
  }
  
  .dashboard-nav button {
    background: none;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dashboard-nav button:focus,
  .dashboard-nav button.active {
    border-bottom: 2px solid #f8f8f8;
    outline: none;
  }
  
  .tab-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  .profile-section {
    padding: 20px;
    background-color: #f8f8f8;
    text-align: center;
  }
  