.team-details-container {
  text-align: center;
  padding: 20px;
}

.team-details-heading {
  color: #5e548e;
}

.team-details-subheading, .team-details-text {
  color: #6f42c1;
}

.team-details-list {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  width: 80%;
}

.team-details-list li {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #f2e9f3;
}

.team-details-list li:nth-child(even) {
  background-color: #dbcce6;
}

.team-details-list li:hover {
  background-color: #b8a9c9;
}
