.rankings-container {
    padding: 20px;
    text-align: center;
}

.standings-table, .past-matches-list {
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
}

.standings-table {
    border-collapse: collapse;
    margin-bottom: 40px; 
}

.standings-table th, .standings-table td {
    border: 1px solid #5e548e;
    padding: 8px;
    text-align: left;
}

.standings-table th {
    background-color: #5e548e;
    color: white;
}

.standings-table td {
    background-color: #f9f9f9;
}

.past-matches-list {
    list-style-type: none;
    padding: 0;
}

.past-matches-list li {
    background-color: #f9f9f9;
    border: 1px solid #5e548e;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
    color: #5e548e;
}
