.session-page-container {
    padding: 20px;
    text-align: center;
  }
  
  .sessions-list {
    margin: 20px 0;
    padding: 0;
  }
  
  .session-item {
    background-color: #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: left; 
  }
  
  .session-form {
    margin-top: 20px;
  }
  
  .session-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .session-form input[type="number"],
  .session-form input[type="date"],
  .session-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  .session-form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5e548e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  