.player-attendance-container {
    padding: 20px;
    text-align: center;
}

.attendance-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.attendance-info > div {
    background-color: #f9f9f9;
    border: 2px solid #5e548e;
    border-radius: 8px;
    padding: 20px;
    width: 40%; 
}

.attendance-info h2 {
    color: #5e548e;
}

@media (max-width: 600px) {
    .attendance-info {
        flex-direction: column;
        width: 100%;
    }

    .attendance-info > div {
        width: 80%;
        margin: 0 auto;
    }
}
